
# OpenCGA folders
build

# Web
bower_components
node_modules

# General
*.jar
*.war
*.o
*.lib
*.a
*.so
*.so.*
*.out
*.log
*.zip
# Maven
target/
dependency-reduced-pom.xml

# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# Sonar
sonar-project.properties
.sonar/*

# Eclipse
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

#python
*.pyc

# NetBeans
nb*.xml

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# Install
opencga-server/install.sh

# Generated properties
git.properties

# R
*.RData
*.Rproj
.Rproj.user
*.Rhistory
*.Rapp.history
*.Rcheck*
opencga-client/src/main/opencgaR_*.tar.gz
opencga-client/src/main/R/vignettes/opencgaR.html
opencga-client/src/main/R/vignettes/opencgaR.md

/opencga-catalog/src/test/java/org/opencb/opencga/catalog/config/CatalogConfigurationTest.java

opencga-test/fitnesse/FitNesseRoot/files/testResults
opencga-test/fitnesse/FitNesseRoot/RecentChanges.wiki

# Python
*.pyc
venv
