<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <!--
     | Accepted System Properties
     |   opencga.log.level        : Console log level. Default "info"
     |   opencga.log.dir          : Logs dir location. Default : app.home/logs
     |   opencga.log.file.name    : Console log file name.
     |   opencga.log.file.enabled : Indicate if file logs should be enabled. Default : false
    -->
    <Properties>
        <Property name="name">${sys:opencga.log.file.name:-opencga}</Property>
        <Property name="logDir">${sys:opencga.log.dir:-${sys:user.home}/.opencga/logs}</Property>
        <Property name="logLevel">${sys:opencga.log.level:-warn}</Property>
        <Property name="logFile">${name}.log</Property>
        <Property name="logFileArchive">${name}.%d{yyyy-MM-dd}.%i.log</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_ERR">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5p %c{1}:%L - %m%n"/>
            <ThresholdFilter level="${logLevel}" onMatch="ACCEPT" onMismatch="DENY"/>
        </Console>

        <RollingFile name="RollingFileTxt"
                     append="true"
                     immediateFlush="true"
                     fileName="${logDir}/${logFile}"
                     filePattern="${logDir}/${logFileArchive}.gz"
                     createOnDemand="true"
                     ignoreExceptions="false">
            <PatternLayout pattern="%pid - %d{yyyy-MM-dd HH:mm:ss} [%t] %-5p %c{1}:%L - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="100MB"/>
            </Policies>
            <!-- Max 30 files will be created -->
            <DefaultRolloverStrategy max="30">
                <Delete basePath="${logDir}" maxDepth="10">
                    <!-- Delete all files older than 30 days -->
                    <IfLastModified age="30d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
        <RollingFile name="RollingFileJson"
                     append="true"
                     immediateFlush="true"
                     fileName="${logDir}/${logFile}.json"
                     filePattern="${logDir}/${logFileArchive}.json.gz"
                     createOnDemand="true"
                     ignoreExceptions="false">
            <JSONLayout compact="true" eventEol="true" properties="true" stacktraceAsString="true"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="100MB"/>
            </Policies>
            <!-- Max 10 files will be created everyday -->
            <DefaultRolloverStrategy max="30">
                <Delete basePath="${logDir}" maxDepth="10">
                    <!-- Delete all files older than 30 days -->
                    <IfLastModified age="30d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <Routing name="RollingFileJsonOrNull">
            <Routes pattern="${upper:${sys:opencga.log.file.enabled}}">
                <Route ref="RollingFileJson" key="TRUE"/>
            </Routes>
        </Routing>
        <Routing name="RollingFileTxtOrNull">
            <Routes pattern="${upper:${sys:opencga.log.file.enabled}}">
                <Route ref="RollingFileTxt" key="TRUE"/>
            </Routes>
        </Routing>

    </Appenders>
    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFileJsonOrNull"/>
            <AppenderRef ref="RollingFileTxtOrNull"/>
        </Root>
        <Logger name="org.mongodb.driver.cluster" level="WARN"/>
        <Logger name="org.mongodb.driver.connection" level="WARN"/>
        <Logger name="org.mongodb.driver.protocol.command" level="WARN"/>
    </Loggers>
</Configuration>