<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>OpenCGEnterprise</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>

    <init-param>
      <param-name>OPENCGA_HOME</param-name>
      <param-value>${OPENCGA.INSTALLATION.DIR}</param-value>
    </init-param>

    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>com.fasterxml.jackson.jaxrs.json</param-value>
    </init-param>

    <init-param>
      <param-name>javax.ws.rs.Application</param-name>
      <param-value>com.zettagenomics.opencga.enterprise.server.EnterpriseResourceConfig</param-value>
    </init-param>

    <init-param>
      <param-name>jersey.config.server.provider.classnames</param-name>
      <param-value>org.glassfish.jersey.media.multipart.MultiPartFeature</param-value>
    </init-param>

    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>OpenCGEnterprise</servlet-name>
    <url-pattern>/webservices/rest/*</url-pattern>
  </servlet-mapping>


  <filter>
    <filter-name>CorsFilter</filter-name>
    <filter-class>org.opencb.opencga.server.CORSFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CorsFilter</filter-name>
    <url-pattern>*</url-pattern>
  </filter-mapping>

</web-app>
