<!--<!DOCTYPE web-app PUBLIC-->
<!--        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"-->
<!--        "http://java.sun.com/dtd/web-app_2_3.dtd" >-->

<web-app version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>OpenCGA Enterprise</display-name>

  <servlet>
    <servlet-name>OpenCGAEnterprise</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>

    <init-param>
      <param-name>OPENCGA_HOME</param-name>
      <param-value>${OPENCGA.INSTALLATION.DIR}</param-value>
    </init-param>

    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>com.fasterxml.jackson.jaxrs.json</param-value>
    </init-param>

    <init-param>
      <param-name>javax.ws.rs.Application</param-name>
      <param-value>com.zettagenomics.opencga.enterprise.server.EnterpriseResourceConfig</param-value>
    </init-param>

    <init-param>
      <param-name>jersey.config.server.provider.classnames</param-name>
      <param-value>org.glassfish.jersey.media.multipart.MultiPartFeature</param-value>
    </init-param>

    <load-on-startup>1</load-on-startup>
  </servlet>

  <filter>
    <filter-name>CorsFilter</filter-name>
    <filter-class>org.opencb.opencga.server.CORSFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CorsFilter</filter-name>
    <url-pattern>*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>FederationFilter</filter-name>
    <filter-class>com.zettagenomics.opencga.enterprise.server.FederationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FederationFilter</filter-name>
    <url-pattern>*</url-pattern>
  </filter-mapping>

  <servlet-mapping>
    <servlet-name>OpenCGAEnterprise</servlet-name>
    <url-pattern>/webservices/rest/*</url-pattern>
  </servlet-mapping>

</web-app>
