# This workflow runs JUnit tests for different OpenCGA modules and Hadoop profiles.
# It supports short, medium, and long test types, and allows custom Maven options.
#
# Example usage:
# - To test all modules and all Hadoop profiles with short and medium tests:
#   Select 'all' for both 'hadoop' and 'module', enable 'short_tests' and 'medium_tests'.
# - To test only 'opencga-core' on 'hdi5.1' with long tests:
#   Select 'hdi5.1' for 'hadoop', 'opencga-core' for 'module', enable 'long_tests'.

name: Check junits
run-name: "Check Junit. Hadoop ${{ inputs.hadoop }} ${{ inputs.module == 'all' && ' ' || format(':{0}. ', inputs.module ) }}${{ inputs.short_tests && 'Short ' || '' }}${{ inputs.medium_tests && 'Medium ' || '' }}${{ inputs.long_tests && 'Long ' || '' }}${{ ! ( inputs.short_tests || inputs.medium_tests || inputs.long_tests ) && 'Short Medium Long ' || '' }}tests."

on:
  workflow_dispatch:
    inputs:
      hadoop:
        type: choice
        description: 'Hadoop flavour to test (e.g., hdi5.1, emr6.1, all).'
        required: false
        default: "hdi5.1"
        options:
          - "all"
          - "hbase2.0"
          - "hdi5.1"
          - "emr6.1"
          - "emr6.13"
          - "emr7.5"
      module:
        type: choice
        description: 'OpenCGA module to test (e.g., opencga-analysis, all).'
        required: false
        default: "all"
        options:
          - "all"
          - "opencga-analysis"
          - "opencga-app"
          - "opencga-catalog"
          - "opencga-client"
          - "opencga-core"
          - "opencga-master"
          - "opencga-server"
          - "opencga-storage"
          - "opencga-test"
      short_tests:
        description: 'Run short tests (recommended for quick feedback).'
        type: boolean
        required: false
        default: true
      medium_tests:
        description: 'Run medium tests (for more thorough validation).'
        type: boolean
        required: false
        default: false
      long_tests:
        description: 'Run long tests (for full coverage, takes more time).'
        type: boolean
        required: false
        default: false
      mvn_opts:
        description: 'Additional Maven options (e.g., -DskipITs).'
        type: string
        required: false
        default: ""

jobs:
  get_profiles:
    name: Build test matrices
    runs-on: ${{ vars.UBUNTU_VERSION }}
    outputs:
      profiles: ${{ steps.validate.outputs.profiles }}
      modules: ${{ steps.validate.outputs.modules }}
      hadoop: ${{ steps.validate.outputs.hadoop }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: '10'
      - name: Validate and build test profiles
        id: validate
        run: |
          # This step builds the test profile, module, and hadoop matrices for the test job using an external script.
          chmod +x ./.github/workflows/scripts/get_matrix.sh
          ./.github/workflows/scripts/get_matrix.sh "${{ inputs.short_tests }}" "${{ inputs.medium_tests }}" "${{ inputs.long_tests }}" "${{ inputs.hadoop }}" "${{ inputs.module }}"
          # Read outputs from the script and set them for GitHub Actions
          while IFS='=' read -r key value; do
            echo "$key=$value" >> $GITHUB_OUTPUT
            echo "$key -> $value" >> $GITHUB_STEP_SUMMARY
          done < matrix_outputs.txt

  test:
    name: Run JUnit tests
    strategy:
      fail-fast: false
      matrix:
        hadoop: ${{ fromJson(needs.get_profiles.outputs.hadoop) }}
        module: ${{ fromJson(needs.get_profiles.outputs.modules) }}
        profile: ${{ fromJson(needs.get_profiles.outputs.profiles) }}
    needs: [ get_profiles ]
    uses: ./.github/workflows/test-analysis.yml
    with:
      test_profile: ${{ matrix.profile }}
      hadoop: ${{ matrix.hadoop }}
      module: ${{ matrix.module }}
      mvn_opts: ${{ inputs.mvn_opts }}
      sonar: false
      upload_artifact: false
    secrets: inherit