name: Check junits
run-name: "Check Junit. Variant Storage ${{ inputs.variant_storage }} ${{ inputs.module == 'all' && ' ' || format(':{0}. ', inputs.module ) }}${{ inputs.short_tests && 'Short ' || '' }}${{ inputs.medium_tests && 'Medium ' || '' }}${{ inputs.long_tests && 'Long ' || '' }}${{ ! ( inputs.short_tests || inputs.medium_tests || inputs.long_tests ) && 'Short Medium Long ' || '' }}tests."

on:
  workflow_dispatch:
    inputs:
      variant_storage:
        type: choice
        description: 'Variant Storage Engine flavour.'
        required: false
        default: "hdi5.1"
        options:
          - "all"
          - "mongodb"
          - "hbase2.0"
          - "hdi5.1"
          - "emr6.1"
          - "emr6.13"
          - "emr7.5"
      module:
        type: choice
        description: 'OpenCGA module to test.'
        required: false
        default: "all"
        options:
          - "all"
          - "opencga-analysis"
          - "opencga-app"
          - "opencga-catalog"
          - "opencga-client"
          - "opencga-core"
          - "opencga-master"
          - "opencga-server"
          - "opencga-storage"
          - "opencga-storage/opencga-storage-mongodb"
          - "opencga-storage/opencga-storage-hadoop"
          - "opencga-test"
      short_tests:
        description: 'Run short tests.'
        type: boolean
        required: false
        default: true
      medium_tests:
        description: 'Run medium tests.'
        type: boolean
        required: false
        default: false
      long_tests:
        description: 'Run long tests.'
        type: boolean
        required: false
        default: false
      mvn_opts:
        description: 'Maven options.'
        type: string
        required: false
        default: ""

jobs:
  get_profiles:
    name: Test JUnit
    runs-on: ${{ vars.UBUNTU_VERSION }}
    outputs:
      profiles: ${{ steps.validate.outputs.profiles }}
      modules: ${{ steps.validate.outputs.modules }}
      variant_storage: ${{ steps.validate.outputs.variant_storage }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: '10'
      - name: Building string profiles to run
        id: validate
        run: |
          if [ -f "./.github/workflows/scripts/get_profiles.sh" ]; then
            chmod +x ./.github/workflows/scripts/get_profiles.sh
            profiles=$(./.github/workflows/scripts/get_profiles.sh ${{ inputs.short_tests }} ${{ inputs.medium_tests }} ${{ inputs.long_tests }})
            modules='["${{ inputs.module }}"]'
            variant_storage='["${{ inputs.variant_storage }}"]'
          
            if [ "${{ inputs.variant_storage }}" == "all" ]; then
              variant_storage='["hdi5.1", "emr6.1", "emr6.13", "emr7.5", "hbase2.0", "mongodb"]'
          
              # When testing all variant_storage profiles, split matrix by profile
              IFS=',' read -r -a profile_array <<< "$profiles"
              profiles=""
              for profile in "${profile_array[@]}"; do
                if [ "$profiles" == "" ]; then
                  profiles="\"$profile\""
                else
                  profiles="$profiles, \"$profile\""
                fi
              done
              profiles="[$profiles]"
            else
              profiles='["'"$profiles"'"]'
              if [ "${{ inputs.module }}" == "all" ]; then
                # Only execute modules with matrix strategy if we are testing one single variant_storage profile
                modules='["opencga-analysis", "opencga-app", "opencga-catalog", "opencga-client", "opencga-core", "opencga-master", "opencga-server", "opencga-storage", "opencga-test"]'
              fi
            fi
            echo "profiles=$profiles" >> $GITHUB_OUTPUT
            echo "modules=$modules" >> $GITHUB_OUTPUT
            echo "variant_storage=$variant_storage" >> $GITHUB_OUTPUT
            echo "Executing testing profiles -> $profiles" >> $GITHUB_STEP_SUMMARY
            echo "Modules -> $modules" >> $GITHUB_STEP_SUMMARY
            echo "VariantStorageEngine -> $variant_storage" >> $GITHUB_STEP_SUMMARY
            #echo "matrix={\"variant_storage\": $variant_storage, \"modules\": $modules}" >> $GITHUB_OUTPUT
          fi
  test:
    strategy:
      fail-fast: false
      matrix:
        variant_storage: ${{ fromJson(needs.get_profiles.outputs.variant_storage) }}
        module: ${{ fromJson(needs.get_profiles.outputs.modules) }}
        profile: ${{ fromJson(needs.get_profiles.outputs.profiles) }}
    needs: [ get_profiles ]
    uses: ./.github/workflows/test-analysis.yml
    with:
      test_profile: ${{ matrix.profile }}
      variant_storage: ${{ matrix.variant_storage }}
      module: ${{ matrix.module }}
      mvn_opts: ${{ inputs.mvn_opts }}
      sonar: false
      upload_artifact: false
    secrets: inherit