name: Check junits

on:
  workflow_dispatch:
    inputs:
      short_tests:
        type: boolean
        required: false
        default: true
      medium_tests:
        type: boolean
        required: false
        default: false
      long_tests:
        type: boolean
        required: false
        default: false
      mvn_opts:
        type: string
        required: false
        default: ""

jobs:
  get_profiles:
    name: Test JUnit
    runs-on: ubuntu-22.04
    outputs:
      profile: ${{ steps.getter.outputs.profiles }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: '10'
      - name: Building string profiles to run
        id: getter
        run: |
          if [ -f "./.github/workflows/scripts/get_profiles.sh" ]; then
            chmod +x ./.github/workflows/scripts/get_profiles.sh
            echo "profiles=$(./.github/workflows/scripts/get_profiles.sh ${{ inputs.short_tests }} ${{ inputs.medium_tests }} ${{ inputs.long_tests }})" >> $GITHUB_OUTPUT
          fi

  echo_log:
    needs: get_profiles
    runs-on: ubuntu-22.04
    steps:
      - name: Echo profiles
        id: log
        run: echo "Executing testing profiles -> ${{ needs.get_profiles.outputs.profiles }}"

  test:
    needs: [ get_profiles, echo_log ]
    uses: ./.github/workflows/test-analysis.yml
    with:
      test_profile: ${{ needs.get_profiles.outputs.profiles }}
      report_context: development
      mvn_opts: ${{ inputs.mvn_opts }}
    secrets: inherit