name: Compare vulnerabilities (Syft SBOM -> Grype) between two branches
run-name: 'Compare vulnerabilities between ${{ inputs.branch_a }} (base) and ${{ inputs.branch_b }} (head) by @${{ github.actor }}'
on:
  workflow_call:
    inputs:
      branch_a:
        type: string
        description: 'Base branch (e.g. develop)'
        required: true
      branch_b:
        type: string
        description: 'Head branch (e.g. TASK-1234)'
        required: true
    secrets:
      GITHUB_TOKEN:
        required: true
      SLACK_SECURITY_WEBHOOK_URL:
        required: false
  workflow_dispatch:
    inputs:
      branch_a:
        description: 'Base branch (e.g. develop)'
        required: true
        default: 'develop'
      branch_b:
        description: 'Head branch (e.g. TASK-1234)'
        required: true

jobs:
  compare-branches:
    runs-on: ${{ vars.UBUNTU_VERSION }}

    steps:
      # 1) Checkout head branch only
      - name: Checkout head branch
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.inputs.branch_b }}
          fetch-depth: 0
          fetch-tags: true

      - name: Set up JDK 8
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '8'
          cache: 'maven'
      # 3) Run the action
      - name: Vulnerability Diff (Syft+Grype)
        uses: sec-open/vuln-diff-action@v2.0.0-alpha.1
        with:
          base_ref: ${{ github.event.inputs.branch_a }}   # pass 'develop'
          head_ref: ${{ github.event.inputs.branch_b }}   # pass 'TASK-7908'
          html_logo_url: "https://zettagenomics.com/wp-content/uploads/2022/10/Zetta-reversed-out-full-logo-dark-background.png"


#          build_command: ""
#          write_summary: "true"
#          upload_artifact: "true"
#          artifact_name: "vulnerability-diff-${{ github.event.inputs.branch_a }}-vs-${{ github.event.inputs.branch_b }}"
#          report_html: "true"
#          report_pdf: "true"
#          min_severity: "LOW"
#          title_logo_url: "https://zettagenomics.com/wp-content/uploads/2022/10/Zetta-reversed-out-full-logo-dark-background.png"

