name: Push OpenCGA develop branches
run-name: 'Push on ${{ github.ref_name }} by @${{ github.actor }}'

on:
  push:
    branches:
      - develop
      - release-*
      - TASK-*
  workflow_dispatch:

jobs:
  build:
    uses: opencb/ci-core/.github/workflows/build.yml@main
    with:
      needs_hadoop_preparation: true
      storage_hadoop: ${{ vars.HADOOP_FLAVOUR }}
      maven_opts: -P${{ vars.HADOOP_FLAVOUR }} -Dopencga.war.name=opencga -Dcheckstyle.skip
      dependency_repos: "java-common-libs,biodata"
      deploy_maven: ${{ !startsWith(github.ref_name, 'TASK-') }}
      upload_artifact: true
    secrets: inherit

  deploy-docker-workflow:
    uses: opencb/ci-core/.github/workflows/deploy-docker.yml@main
    needs: build
    with:
      cli: python3 ./build/cloud/docker/docker-build.py push --images workflow --tag "${{ needs.build.outputs.version }}"
      org: opencb
    secrets: inherit

  deploy-zetta-docker:
    uses: opencb/ci-core/.github/workflows/deploy-docker.yml@main
    needs: build
    with:
      cli: python3 ./build/cloud/docker/docker-build.py push --images base,init --tag "${{ needs.build.outputs.version }}-${{ vars.HADOOP_FLAVOUR }}"
      org: zettagenomics
    secrets: inherit

