name: Long test for run only on weekend


## Every Saturday at 01:10
on:
  schedule:
    - cron: '10 1 * * 6'
  workflow_dispatch:

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        hadoop: ["hdi5.1", "emr6.1", "emr6.13", "emr7.5", "hbase2.0"]
    uses: ./.github/workflows/test-analysis.yml
    with:
      test_profile: runShortTests,runMediumTests,runLongTests
      hadoop: ${{ matrix.hadoop }}
    secrets: inherit

