name: Manual deploy Docker base
on:
  workflow_dispatch:
    inputs:
      branch:
        description: "The branch, tag or SHA of the source code to build docker."
        type: string
        required: true
      tag:
        description: "The tag for the new docker."
        type: string
        required: true

jobs:
  build:
    name: Build Java app
    runs-on: ${{ vars.UBUNTU_VERSION }}
    outputs:
      version: ${{ steps.get_project_version.outputs.version }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: '10'
          ref: "${{ inputs.branch }}"
      - name: Set up JDK 8
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '8'
          cache: 'maven'
      - name: Install dependencies branches
        run: |
          if [ -f "./.github/workflows/scripts/get_same_branch.sh" ]; then
            chmod +x ./.github/workflows/scripts/get_same_branch.sh
            ./.github/workflows/scripts/get_same_branch.sh ${{ github.ref_name }} 
          fi
      - name: Maven Build (skip tests)
        run: mvn -T 2 clean install -DskipTests -P${{ inputs.hadoop }} -Dopencga.war.name=opencga -Dcheckstyle.skip  --no-transfer-progress -pl ':opencga-app' --also-make
      - uses: actions/upload-artifact@v4
        with:
          name: build-folder
          path: build

  deploy-zetta-docker:
    uses: opencb/java-common-libs/.github/workflows/deploy-zetta-docker-hub-workflow.yml@develop
    needs: build
    with:
      cli: python3 ./build/cloud/docker/docker-build.py push --images base --tag ${{ github.ref_name }}
    secrets: inherit

  deploy-docker-workflow:
    uses: opencb/java-common-libs/.github/workflows/deploy-docker-hub-workflow.yml@develop
    needs: build
    with:
      cli: python3 ./build/cloud/docker/docker-build.py push --images workflow --tag ${{ github.ref_name }}
    secrets: inherit