name: Manual deploy Docker base
on:
  workflow_dispatch:
    inputs:
      branch:
        description: "The branch, tag or SHA of the source code to build docker."
        type: string
        required: true
      tag:
        description: "The tag for the new docker."
        type: string
        required: true
      hadoop:
        type: choice
        description: 'Hadoop flavour. Any of: [hbase2.0, hdi5.1, emr6.1, emr6.13, emr7.5]'
        required: false
        default: hdi5.1
        options:
          - hbase2.0
          - hdi5.1
          - emr6.1
          - emr6.13
          - emr7.5
jobs:
  build:
    uses: opencb/java-common-libs/.github/workflows/build-java-app-workflow.yml@develop
    with:
      needs_hadoop_preparation: true
      hadoop_flavour: ${{ inputs.hadoop }}
      maven_opts: -P${{ inputs.hadoop }} -Dopencga.war.name=opencga -Dcheckstyle.skip
      dependency_repos: "java-common-libs,biodata"
    secrets: inherit

  deploy-zetta-docker:
    uses: opencb/java-common-libs/.github/workflows/deploy-zetta-docker-hub-workflow.yml@develop
    needs: build
    with:
      cli: python3 ./build/cloud/docker/docker-build.py push --images base --tag ${{ github.ref_name }}
    secrets: inherit

  deploy-docker-workflow:
    uses: opencb/java-common-libs/.github/workflows/deploy-docker-hub-workflow.yml@develop
    needs: build
    with:
      cli: python3 ./build/cloud/docker/docker-build.py push --images workflow --tag ${{ github.ref_name }}
    secrets: inherit