name: Manual deploy Docker Ext-Tools
run-name: "Manual deploy docker ext-tools from ${{ inputs.branch }} with tag ${{ inputs.tag }}."

on:
  workflow_dispatch:
    inputs:
      branch:
        description: "The branch, tag or SHA of the source code to build docker."
        type: string
        required: true
      tag:
        description: "The tag for the new docker."
        type: string
        required: true

jobs:
  deploy-docker-ext-tools:
    uses: ./.github/workflows/deploy-ext-tools.yml
    with:
      branch: ${{ inputs.branch }}
      tag: ${{ inputs.tag }}
    secrets: inherit