name: Reusable deploy Docker python-notebook
run-name: 'Run deploy Docker python-notebook ${{ inputs.branch }} by @${{ github.actor }}'
on:
  workflow_dispatch:
    inputs:
      branch:
        description: "The branch, tag or SHA of the source code to build docker."
        type: string
        required: true
      tag:
        description: "The tag for the new docker."
        type: string
        required: true
      pyopencga_version:
        type: string
        description: 'PyOpenCGA version.'
        required: true

jobs:
  build:
    uses: opencb/java-common-libs/.github/workflows/build-java-app-workflow.yml@develop
    with:
      needs_hadoop_preparation: true
      hadoop_flavour: ${{ vars.HADOOP_FLAVOUR }}
      maven_opts: -P${{ vars.HADOOP_FLAVOUR }} -Dopencga.war.name=opencga -Dcheckstyle.skip
      dependency_repos: "java-common-libs,biodata"
    secrets: inherit

  deploy-docker-python-notebook:
    uses: opencb/java-common-libs/.github/workflows/deploy-docker-hub-workflow.yml@develop
    needs: build
    with:
      cli: python3 ./build/cloud/docker/docker-build.py push --images python-notebook --tag ${{ inputs.tag }} --docker-build-args "--build-arg VERSION=${{ inputs.pyopencga_version }}"
    secrets: inherit