name: Manual deploy Docker Ext-Tools
on:
  workflow_dispatch:
    inputs:
      branch:
        description: "The branch, tag or SHA of the source code to build docker."
        type: string
        required: true
      tag:
        description: "The tag for the new docker."
        type: string
        required: true

jobs:
  build:
    uses: opencb/java-common-libs/.github/workflows/build-java-app-workflow.yml@develop
    with:
      needs_hadoop_preparation: true
      hadoop_flavour: ${{ vars.HADOOP_FLAVOUR }}
      maven_opts: -P${{ vars.HADOOP_FLAVOUR }} -Dopencga.war.name=opencga -Dcheckstyle.skip
      dependency_repos: "java-common-libs,biodata"
    secrets: inherit

  deploy-docker-ext-tools:
    uses: opencb/java-common-libs/.github/workflows/deploy-docker-hub-workflow.yml@develop
    needs: build
    with:
      cli: python3 ./build/cloud/docker/docker-build.py push --images ext-tools --tag ${{ inputs.tag }}
    secrets: inherit
