name: Release new OpenCGA version

on:
  push:
    tags:
      - '*'
  workflow_dispatch:

jobs:
  build:
    uses: opencb/java-common-libs/.github/workflows/build-java-app-workflow.yml@release-4.8.x
    with:
      maven_opts: -P storage-hadoop,hdp3.1,RClient,opencga-storage-hadoop-deps -Dopencga.war.name=opencga -Dcheckstyle.skip -pl '!:opencga-storage-hadoop-deps-emr6.1,!:opencga-storage-hadoop-deps-hdp2.6'

  deploy-docker-ext-tools:
    uses: opencb/java-common-libs/.github/workflows/deploy-docker-hub-workflow.yml@release-4.8.x
    needs: build
    with:
      cli: python3 ./build/cloud/docker/docker-build.py push --images ext-tools --tag ${{ needs.build.outputs.version }}
    secrets: inherit

  test:
    uses: ./.github/workflows/test-analysis.yml
    needs: deploy-docker-ext-tools
    secrets: inherit
    with:
      test_profile: runShortTests,runMediumTests
      report_context: xetabase

  deploy-maven:
    uses: opencb/java-common-libs/.github/workflows/deploy-maven-repository-workflow.yml@release-4.8.x
    needs: test
    with:
      maven_opts: -P storage-hadoop,hdp3.1 -Dopencga.war.name=opencga
    secrets: inherit

  deploy-docker:
    uses: opencb/java-common-libs/.github/workflows/deploy-docker-hub-workflow.yml@release-4.8.x
    needs: test
    with:
      cli: python3 ./build/cloud/docker/docker-build.py push --images base,init
    secrets: inherit



  deploy-python:
    uses: opencb/java-common-libs/.github/workflows/deploy-python-workflow.yml@release-4.8.x
    needs: test
    with:
      cli: ./clients/python/python-build.sh push
      artifact: build-folder
    secrets: inherit

  release:
    uses: opencb/java-common-libs/.github/workflows/release-github-workflow.yml@release-4.8.x
    needs: test
    with:
      artifact: build-folder
      file: |
        opencga-client-${{ needs.build.outputs.version }}.tar.gz
        clients/R/opencgaR_${{ needs.build.outputs.version }}.tar.gz
