name: prepare-hadoop-thirdparty

on:
  workflow_call:
    inputs:
      hadoop:
        description: "Hadoop flavour (e.g. hdi5.1, emr6.13, hbase2.0)"
        type: string
        required: true
      ref:
        description: "Git ref (branch, tag, sha) of opencga to inspect"
        type: string
        required: false
        default: ""
    secrets:
      THIRDPARTY_READ_TOKEN:
        description: "Token to access private third-party code"
        required: true

jobs:
  prepare-hadoop-profile:
    runs-on: ${{ vars.UBUNTU_VERSION }}
    steps:
      - name: Checkout OpenCGA
        uses: actions/checkout@v4
        with:
          fetch-depth: 20
          ref: ${{ inputs.ref != '' && inputs.ref || github.ref }}
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: ${{ vars.JAVA_VERSION }}
          cache: maven
      - name: Prepare hadoop profile
        run: |
          chmod +x ./.github/workflows/scripts/prepare_hadoop.sh
          ./.github/workflows/scripts/prepare_hadoop.sh --hadoop-flavour ${{ inputs.hadoop }}
        env:
          THIRDPARTY_READ_TOKEN: ${{ secrets.THIRDPARTY_READ_TOKEN }}



