name: Push OpenCGA TASK

on:
  push:
    branches:
      - TASK-*
  workflow_dispatch:

# WARNING Develop branch needed for prod

jobs:

  build:
    uses: opencb/java-common-libs/.github/workflows/build-java-app-workflow.yml@TASK-7809
    with:
      needs_hadoop_preparation: true
      hadoop_flavour: ${{ vars.HADOOP_FLAVOUR }}
      maven_opts: -P${{ vars.HADOOP_FLAVOUR }} -Dopencga.war.name=opencga -Dcheckstyle.skip
    secrets: inherit

  test:
    uses: ./.github/workflows/test-analysis.yml
    needs: build
    with:
      test_profile: runShortTests
    secrets: inherit

  deploy-docker:
    uses: opencb/java-common-libs/.github/workflows/deploy-docker-hub-workflow.yml@develop
    needs: build
    with:
      cli: python3 ./build/cloud/docker/docker-build.py push --images workflow --tag "${{ needs.build.outputs.version }}"
    secrets: inherit

  deploy-zetta-docker:
    uses: opencb/java-common-libs/.github/workflows/deploy-zetta-docker-hub-workflow.yml@develop
    needs: build
    with:
      cli: python3 ./build/cloud/docker/docker-build.py push --images base,init --tag "${{ github.ref_name }}"  # Use branch name as tag
    secrets: inherit

  deploy-docker-workflow:
    uses: opencb/java-common-libs/.github/workflows/deploy-docker-hub-workflow.yml@develop
    needs: build
    with:
      cli: python3 ./build/cloud/docker/docker-build.py push --images workflow --tag ${{ github.ref_name }}
    secrets: inherit