name: Push OpenCGA TASK

on:
  push:
    branches:
      - TASK-*
  workflow_dispatch:

# WARNING Develop branch needed for prod

jobs:

  test:
    uses: ./.github/workflows/test-analysis.yml
    with:
      test_profile: runShortTests
      upload-artifact: true
    secrets: inherit

  deploy-docker:
    uses: opencb/java-common-libs/.github/workflows/deploy-docker-hub-workflow.yml@develop
    needs: test
    with:
      cli: python3 ./build/cloud/docker/docker-build.py push --images workflow --tag "${{ needs.build.outputs.version }}"
    secrets: inherit

  deploy-zetta-docker:
    uses: opencb/java-common-libs/.github/workflows/deploy-zetta-docker-hub-workflow.yml@develop
    needs: test
    with:
      cli: python3 ./build/cloud/docker/docker-build.py push --images base,init --tag "${{ github.ref_name }}"  # Use branch name as tag
    secrets: inherit

  deploy-docker-workflow:
    uses: opencb/java-common-libs/.github/workflows/deploy-docker-hub-workflow.yml@develop
    needs: test
    with:
      cli: python3 ./build/cloud/docker/docker-build.py push --images workflow --tag ${{ github.ref_name }}
    secrets: inherit