name: Push OpenCGA TASK

on:
  push:
    branches:
      - TASK-*
  workflow_dispatch:

# WARNING Develop branch needed for prod

jobs:

  prepare-hadoop:
    uses: ./.github/workflows/reusable-prepare-hadoop.yml
    with:
      hadoop: ${{ vars.HADOOP_FLAVOUR }}
      ref: ${{ github.ref }}
    secrets: inherit

  build:
    uses: opencb/java-common-libs/.github/workflows/build-java-app-workflow.yml@develop
    needs: prepare-hadoop
    with:
      maven_opts: -P${{ vars.HADOOP_FLAVOUR }},RClient -Dopencga.war.name=opencga -Dcheckstyle.skip

  test:
    uses: ./.github/workflows/test-analysis.yml
    needs: build
    with:
      test_profile: runShortTests
    secrets: inherit

  deploy-docker:
    uses: opencb/java-common-libs/.github/workflows/deploy-docker-hub-workflow.yml@develop
    needs: build
    with:
      cli: python3 ./build/cloud/docker/docker-build.py push --images workflow --tag "${{ needs.build.outputs.version }}"
    secrets: inherit

  deploy-zetta-docker:
    uses: opencb/java-common-libs/.github/workflows/deploy-zetta-docker-hub-workflow.yml@develop
    needs: build
    with:
      cli: python3 ./build/cloud/docker/docker-build.py push --images base,init --tag "${{ github.ref_name }}"  # Use branch name as tag
    secrets: inherit

  deploy-docker-workflow:
    uses: opencb/java-common-libs/.github/workflows/deploy-docker-hub-workflow.yml@develop
    needs: build
    with:
      cli: python3 ./build/cloud/docker/docker-build.py push --images workflow --tag ${{ github.ref_name }}
    secrets: inherit