name: Build and test the project
run-name: "Build and test the project. Variant Storage flavour: ${{ inputs.variant_storage }}. Test profile: ${{ inputs.test_profile }}. Test module: ${{ inputs.module }}"

on:
  workflow_call:
    inputs:
      test_profile:
        description: 'Maven test profile. Any combination of : [runShortTests, runMediumTests, runLongTests]'
        type: string
        required: true
      variant_storage:
        type: string
        required: false
        default: "hdi5.1"
      mvn_opts:
        type: string
        required: false
        default: ""
      sonar:
        type: boolean
        required: false
        default: true
      module:
        type: string
        description: "Maven modules to test. Empty means all. Only top-level modules. Example: 'opencga-storage'"
        required: false
        default: ""
      upload_artifact:
        type: boolean
        description: "Whether to upload the build artifact or not"
        required: false
        default: true
    secrets:
      SONAR_TOKEN:
        required: true

jobs:

  build:
    uses: opencb/java-common-libs/.github/workflows/build-java-app-workflow.yml@develop
    with:
      needs_hadoop_preparation: ${{ inputs.variant_storage != 'mongodb' }}
      hadoop_flavour: ${{ inputs.variant_storage == 'mongodb' && 'none' || inputs.variant_storage }}
      maven_opts: ${{ inputs.variant_storage != 'mongodb' && format('-Dhadoop={0}', inputs.variant_storage) || '' }} -Dopencga.war.name=opencga -Dcheckstyle.skip
      upload_artifact: ${{ inputs.upload_artifact }}
      dependency_repos: "java-common-libs,biodata"
    secrets: inherit

  analysis:
    name: Execute Sonar Analysis
    runs-on: ${{ vars.UBUNTU_VERSION }}
    if: ${{ inputs.sonar }}
    needs: build
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: '10'
      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'maven'
      - name: Cache local Maven repository
        uses: actions/cache/restore@v4
        with:
          path: ~/.m2/repository
          key: ${{ needs.build.outputs.cache_key }}
          ## Force cache hit to avoid analyzing with incomplete dependencies
          fail-on-cache-miss: false
      - name: Test and Analyze
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # Needed to get PR information, if any
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          STORAGE_FLAG=""
          # Set flag only if variant_storage is NOT 'mongodb'
          if [ "${{ inputs.variant_storage }}" != "mongodb" ]; then
            STORAGE_FLAG="-Dhadoop=${{ inputs.variant_storage }}"
          fi
      
          # Execute Maven command
          mvn -T 2 clean install \
              $STORAGE_FLAG \
              -P"${{ inputs.test_profile }}" \
              -DskipTests \
              -Dcheckstyle.skip \
              org.sonarsource.scanner.maven:sonar-maven-plugin:sonar \
              -Dsonar.projectKey=opencb_opencga


  test:
    name: Execute JUnit and Jacoco tests
    runs-on: ${{ vars.UBUNTU_VERSION }}
    needs: build
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: '10'
      - name: Set up JDK 8
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '8'
          cache: 'maven'
      - name: Cache local Maven repository
        uses: actions/cache/restore@v4
        with:
          path: ~/.m2/repository
          key: ${{ needs.build.outputs.cache_key }}
          ## Force cache hit to avoid testing with incomplete dependencies
          fail-on-cache-miss: true
      - name: Install Samtools
        run: sudo apt-get install samtools python3-deeptools
      - name: Start MongoDB v6.0
        uses: supercharge/mongodb-github-action@1.8.0
        with:
          mongodb-version: 6.0
          mongodb-replica-set: rs-test
      - name: Build Junit log file name
        id: BuildJunitLogFileName
        run: |
          MODULE=$(basename ${{ (inputs.module == '' || inputs.module == 'all') && 'opencga' || inputs.module }} )
          if [[ -z "$MODULE" ]]; then
            MODULE="opencga"
          fi
          # Module name is a path to a module, get only the last part for the log file name
          MODULE=$(basename $MODULE )
          TAGS=$(echo ${{ inputs.test_profile }} | sed -e 's/run\([^,]*\)Tests/\1/g'  | tr ',' '_' | tr '[:upper:]' '[:lower:]' )
          echo "TESTS_LOG_FILE_NAME=junit_${{ inputs.variant_storage }}_${TAGS}_${MODULE}.log.gz" >> $GITHUB_OUTPUT
      - name: Run Junit tests
        run: |
          STORAGE_FLAG=""
          # Set flag only if variant_storage is NOT 'mongodb'
          if [ "${{ inputs.variant_storage }}" != "mongodb" ]; then
            STORAGE_FLAG="-Dhadoop=${{ inputs.variant_storage }}"
          fi
          
          mvn -B verify surefire-report:report --fail-never \
              -Dsurefire.testFailureIgnore=true \
              -f ${{ (inputs.module == '' || inputs.module == 'all') && '.' || inputs.module }} \
              $STORAGE_FLAG \
              -P"${{ inputs.test_profile }}" \
              -Dcheckstyle.skip \
              ${{ inputs.mvn_opts }}  |& tee >(gzip > ${{ steps.BuildJunitLogFileName.outputs.TESTS_LOG_FILE_NAME }} ) |& grep -a -P '^\[[^\]]*(INFO|WARNING|ERROR)' --colour=never --line-buffered
      - name: Upload Junit test logs
        if: success() || failure()
        uses: actions/upload-artifact@v4
        with:
          name: ${{ steps.BuildJunitLogFileName.outputs.TESTS_LOG_FILE_NAME }}
          path: ${{ steps.BuildJunitLogFileName.outputs.TESTS_LOG_FILE_NAME }}
      - name: Publish Test Report on GitHub
        uses: scacap/action-surefire-report@v1
        env:
          NODE_OPTIONS: '--max_old_space_size=6144'
        ## Skip cancelled()
        ## https://docs.github.com/en/actions/learn-github-actions/expressions#cancelled
        if: success() || failure()
        with:
          check_name: "Surefire tests report ${{ inputs.variant_storage }} ${{ inputs.module }} ${{ inputs.test_profile }}"
          report_paths: './**/surefire-reports/TEST-*.xml'
          commit: '${{ github.sha }}'
          fail_on_test_failures: true
          fail_if_no_tests: false
