name: LONG TEST ANALYSIS

on:
  push:
    branches:
      - TASK-4149

jobs:
  test:
    uses: ./.github/workflows/test-analysis.yml
    secrets: inherit
    with:
      test_profile: runLongTests,runMediumTests,runShortTests
      report_context: development

